In [202]:
import torch
import torch.nn as nn
import torch.nn.functional as F
import torchvision
import torchaudio
import numpy as np
import scipy
import sklearn
import pandas as pd
import PIL
import matplotlib
import tokenizers
import datasets
import transformers
import matplotlib.pyplot as plt
from collections import Counter
import datetime

# Data exploration

Here we explore each feature column and comment on how we are going to preprocess each one. We have a total of 140700 samples. The last feature is the label depression which we will train on.

## Id column

In [203]:
# Load the dataset
data = pd.read_csv("./data/train.csv")

# Print examples of the 'id' column
print("Examples of 'id' column:")
print(data["id"].head())

print("")

print("We have " ,data["id"].count()," amount of samples")

Examples of 'id' column:
0    0
1    1
2    2
3    3
4    4
Name: id, dtype: int64

We have  140700  amount of samples

We will drop the id column since there is no correlation between this and the label.

## Name column

In [204]:
# Count occurrences of each unique name
name_counts = data["Name"].value_counts()

# Print results
print("Unique names sorted by count (most to least):")
for name, count in name_counts.items():
    print(f"{name}: {count}")

print(f"Total unique names: {len(name_counts)}")

Unique names sorted by count (most to least):
Rohan: 3178
Aarav: 2336
Rupak: 2176
Aaradhya: 2045
Anvi: 2035
Raghavendra: 1877
Vani: 1657
Tushar: 1596
Ritvik: 1589
Shiv: 1568
Riya: 1548
Rashi: 1547
Raunak: 1524
Anand: 1486
Ishaani: 1477
Ansh: 1423
Vidya: 1408
Ritika: 1313
Anushka: 1279
Sanya: 1272
Aarush: 1266
Aariv: 1254
Abhishek: 1252
Rupal: 1234
Harsha: 1230
Harsh: 1156
Vikram: 1154
Shivam: 1146
Raghav: 1120
Armaan: 1116
Prachi: 1104
Ivaan: 1090
Ayaan: 1090
Siddhesh: 1090
Ira: 1061
Prisha: 1055
Rahil: 1051
Rishi: 1040
Ritik: 1033
Pratham: 1023
Aniket: 1023
Chhavi: 1003
Vibha: 974
Vivan: 963
Aishwarya: 962
Gauri: 959
Nikita: 951
Naina: 946
Veda: 940
Arav: 925
Vidhi: 913
Jiya: 912
Advait: 910
Krishna: 875
Vedant: 872
Ayush: 869
Aditi: 851
Shaurya: 848
Kashish: 845
Gagan: 842
Eshita: 831
Pratyush: 816
Ila: 799
Simran: 790
Aadhya: 787
Shreya: 784
Rudransh: 776
Garima: 769
Yashvi: 767
Anjali: 757
Vihaan: 744
Keshav: 737
Yuvraj: 730
Ishan: 714
Tanisha: 713
Harshil: 712
Sanket: 710
Rajat: 706
Kunal: 700
Nikhil: 690
Kiran: 687
Aanchal: 684
Zara: 681
Shlok: 672
Nandini: 663
Pranav: 655
Mahika: 652
Kavya: 643
Jhanvi: 635
Esha: 632
Satyam: 632
Reyansh: 627
Shrey: 626
Janvi: 611
Anaya: 610
Anirudh: 606
Arnav: 595
Aahana: 593
Aarti: 586
Pallavi: 586
Amit: 583
Ishwar: 574
Utkarsh: 547
Siddharth: 539
Saanvi: 537
Asha: 534
Darsh: 526
Abhinav: 524
Anika: 520
Parth: 518
Aditya: 512
Aarohi: 504
Nishant: 501
Tanya: 501
Rhea: 499
Samar: 498
Chirag: 493
Kriti: 490
Manvi: 486
Divya: 481
Kabir: 481
Pooja: 481
Kian: 481
Hrithik: 475
Shruti: 467
Ayansh: 461
Mahi: 461
Trisha: 458
Kartikeya: 456
Atharv: 438
Monika: 433
Mihir: 433
Shivansh: 419
Tanmay: 418
Arjun: 403
Diya: 391
Yash: 389
Charvi: 387
Sanjeev: 387
Vrinda: 383
Sai: 382
Aryan: 379
Manan: 378
Ishita: 377
Virat: 374
Damini: 374
Bhavesh: 362
Khushi: 356
Ishaan: 355
Nalini: 353
Jai: 343
Neha: 342
Palak: 339
Yogesh: 338
Gaurav: 336
Deepak: 335
Dhruv: 334
Tara: 331
Vivaan: 329
Pari: 319
Lavanya: 315
Aakash: 313
Navya: 311
Leela: 310
Siddhi: 310
Soham: 306
Tanvi: 300
Kartik: 296
Arya: 289
Tina: 285
Vanya: 280
Kush: 274
Isha: 266
Nisha: 264
Samaira: 263
Suhani: 261
Saurav: 258
Apoorva: 252
Yamini: 250
Aarya: 247
Neil: 244
Karishma: 240
Lata: 237
Zoya: 232
Nirvaan: 231
Rudra: 220
Vaishnavi: 217
Om: 216
Mayank: 215
Dev: 210
Vaanya: 209
Nakul: 206
Rajveer: 199
Himani: 196
Barkha: 190
Tejas: 185
Sneha: 180
Bhavna: 167
Ranveer: 162
Rupa: 151
Srishti: 150
Kiara: 138
Kanika: 138
Mira: 137
Mithila: 132
Radhika: 122
Sara: 108
Pihu: 104
Varun: 97
Jasmine: 94
Lakshay: 80
Avni: 71
Shanaya: 65
Mukund: 57
Meera: 51
Harini: 47
Kalyan: 21
Aarash: 3
Rupar: 3
Kolkata: 3
Tarsh: 3
Shivvi: 2
Prishti: 2
Pradhya: 2
Aisha: 2
Aanya: 2
Rani: 2
Patna: 2
Hra: 2
Shivna: 2
Siddh: 2
Vashi: 2
Aarvi: 2
Thane: 2
Jhaan: 2
Kartika: 2
Aniv: 2
Aam: 2
Shivar: 2
Shivan: 2
Aan: 2
Nanya: 2
Rupadhya: 2
Anya: 2
Rupika: 1
Aaransh: 1
Ijra: 1
Aikash: 1
Anishi: 1
Aaranya: 1
Anar: 1
Parha: 1
Srinagar: 1
Vidha: 1
Prayat: 1
Yurav: 1
Shivak: 1
Rupai: 1
Arvik: 1
Manjun: 1
Ranchal: 1
Vita: 1
Prandini: 1
Mahav: 1
Nhanini: 1
Anupal: 1
Manr: 1
Eikram: 1
Arsha: 1
Harshir: 1
Shivlok: 1
Shivwar: 1
Abarav: 1
Ayya: 1
Rudrithik: 1
Varanasi: 1
K.Pharm: 1
UX/UI Designer: 1
Ariti: 1
Nhanvi: 1
Aarani: 1
Jiram: 1
M.Tech: 1
Kike: 1
Shivvaan: 1
Aarla: 1
Nishi: 1
Aarand: 1
Adiya: 1
Ritak: 1
Kashi: 1
Krey: 1
Prarav: 1
Kartal: 1
Anariv: 1
Irit: 1
Kanisha: 1
Anisha: 1
Harshaun: 1
Rietvik: 1
Vasai-Virar: 1
Ishlok: 1
Vika: 1
Rika: 1
Shir: 1
Sharth: 1
Rudrey: 1
Virar: 1
Shashi: 1
Eisha: 1
Vhaani: 1
Prilak: 1
Tani: 1
Nya: 1
Harshav: 1
Ewesh: 1
Aanket: 1
Tohar: 1
Ryouvik: 1
Niya: 1
Anjun: 1
Rupat: 1
Anahk: 1
Shivsh: 1
Niki: 1
Nishita: 1
Rohik: 1
Prishi: 1
Ishaansh: 1
Harshand: 1
Manik: 1
Chrinda: 1
Aavya: 1
Anarush: 1
Viv: 1
Ronnie: 1
18: 1
Rietal: 1
R.Com: 1
Anohi: 1
Vivani: 1
Ayash: 1
Anil: 1
Aiya: 1
Tinmay: 1
Rhesh: 1
Nikya: 1
Arnar: 1
Vakash: 1
Jush: 1
Randik: 1
Siddir: 1
Raghavvi: 1
BE: 1
Anakash: 1
Taurav: 1
Ishaesh: 1
A.Ed: 1
Golkut: 1
Krav: 1
Ayhan: 1
Parvik: 1
Vlaan: 1
Mahak: 1
Abishma: 1
Prvi: 1
K. Kavya: 1
Aieter: 1
Aarsh: 1
Kupa: 1
Rudegrav: 1
Parvi: 1
Rajankot: 1
Ani: 1
Rupil: 1
Adachi: 1
Ayut: 1
Rajya: 1
Vidvi: 1
Mahir: 1
Sansh: 1
Prishant: 1
Eirini: 1
Tanak: 1
Researcher: 1
Shaina: 1
Aani: 1
Plumber: 1
Nanchal: 1
Ayoub: 1
Airav: 1
Zegmay: 1
Aarsush: 1
Vidra: 1
Kani: 1
Ishma: 1
Naly: 1
Jaish: 1
Raghavik: 1
Anh: 1
Pariv: 1
Jhav: 1
Rai: 1
Hreya: 1
Shivivaam: 1
M.Com: 1
Gavrachi: 1
Rivaan: 1
Haurav: 1
Noreen: 1
Anish: 1
Aohi: 1
Aariket: 1
Aarat: 1
Vohi: 1
Vavya: 1
Ishaam: 1
Anhil: 1
Rieta: 1
Zahra: 1
Jathesh: 1
Aarun: 1
Total unique names: 422

We thought about dropping the name column since we thought that this may not have any correlation to the label. But we realised that there might be a correlation, so we decided to keep it. The correlation being that for example having a "unattractive" name can affect your life in a bad way. 


For pre-processing this we want to give the name a value of how unique it is in the dataset, so for now we change the name with how frequent it is.


Things to consider:

Find a way to "rate" each name instead of how frequent the name is. Impute or change wrong names to missing name.

## Gender

In [205]:
# Print examples of the 'Name' column
print("Examples of 'Name' column:")
print(data["Gender"].head())

print("")

print("Number of unique genders:", data["Gender"].nunique())

Examples of 'Name' column:
0    Female
1      Male
2      Male
3      Male
4    Female
Name: Gender, dtype: object

Number of unique genders: 2

We will just encode male to 1 and female to 0.

## Age

In [206]:
print("Examples of 'Age' column:")
print(data["Age"].head())

print("")

print("Number of unique ages:", data["Age"].nunique())

Examples of 'Age' column:
0    49.0
1    26.0
2    33.0
3    22.0
4    30.0
Name: Age, dtype: float64

Number of unique ages: 43

We will only change the number from float to integer.

## City

In [207]:
print("Examples of 'City' column:")
print(data["City"].head())

print("")

print("Number of unique cities:", data["Age"].nunique())

Examples of 'City' column:
0         Ludhiana
1         Varanasi
2    Visakhapatnam
3           Mumbai
4           Kanpur
Name: City, dtype: object

Number of unique cities: 43

In [208]:
# Count occurrences of each unique city
city_counts = data["City"].value_counts()

# Find first occurrence index for each unique city
first_occurrence = data.groupby("City").apply(lambda x: x.index[0])

# Sort cities by count in descending order
sorted_cities = city_counts.index  # Cities sorted by count (default sorting from most to least)

count = 0
# Print results
print("Unique cities sorted by count (most to least):")
for city in sorted_cities:
    if city_counts[city] > 0:
        count += 1
        print(f"{city}: First Index = {first_occurrence[city]}, Count = {city_counts[city]}")

print(f"Total unique cities: {count}")

Unique cities sorted by count (most to least):
Kalyan: First Index = 36, Count = 6591
Patna: First Index = 9, Count = 5924
Vasai-Virar: First Index = 49, Count = 5765
Kolkata: First Index = 28, Count = 5689
Ahmedabad: First Index = 5, Count = 5613
Meerut: First Index = 17, Count = 5528
Ludhiana: First Index = 0, Count = 5226
Pune: First Index = 13, Count = 5210
Rajkot: First Index = 10, Count = 5207
Visakhapatnam: First Index = 2, Count = 5176
Srinagar: First Index = 26, Count = 5074
Mumbai: First Index = 3, Count = 4966
Indore: First Index = 189, Count = 4872
Agra: First Index = 18, Count = 4684
Surat: First Index = 20, Count = 4636
Varanasi: First Index = 1, Count = 4606
Vadodara: First Index = 43, Count = 4568
Hyderabad: First Index = 23, Count = 4496
Kanpur: First Index = 4, Count = 4398
Jaipur: First Index = 12, Count = 4328
Thane: First Index = 6, Count = 4289
Lucknow: First Index = 16, Count = 4280
Nagpur: First Index = 37, Count = 4209
Bangalore: First Index = 8, Count = 4123
Chennai: First Index = 34, Count = 4044
Ghaziabad: First Index = 27, Count = 3620
Delhi: First Index = 76, Count = 3593
Bhopal: First Index = 141, Count = 3475
Faridabad: First Index = 21, Count = 3268
Nashik: First Index = 7, Count = 3144
Mihir: First Index = 44166, Count = 7
Nandini: First Index = 32706, Count = 4
Mahi: First Index = 76335, Count = 3
Vidya: First Index = 52500, Count = 3
City: First Index = 34300, Count = 3
Pratyush: First Index = 34247, Count = 3
Harsha: First Index = 15181, Count = 3
Saanvi: First Index = 22293, Count = 3
Bhavna: First Index = 28862, Count = 3
Molkata: First Index = 100610, Count = 2
MCA: First Index = 38232, Count = 2
M.Com: First Index = 33276, Count = 2
Atharv: First Index = 33447, Count = 2
Nalini: First Index = 17337, Count = 2
Keshav: First Index = 12371, Count = 2
Ayush: First Index = 2123, Count = 2
M.Tech: First Index = 28672, Count = 1
Researcher: First Index = 105684, Count = 1
Vaishnavi: First Index = 73571, Count = 1
Chhavi: First Index = 74881, Count = 1
Parth: First Index = 75591, Count = 1
Vidhi: First Index = 1190, Count = 1
Tushar: First Index = 77791, Count = 1
MSc: First Index = 82304, Count = 1
No: First Index = 82472, Count = 1
Rashi: First Index = 86723, Count = 1
ME: First Index = 93066, Count = 1
Ishanabad: First Index = 762, Count = 1
Armaan: First Index = 109183, Count = 1
Kagan: First Index = 106809, Count = 1
Kashish: First Index = 71995, Count = 1
Ithal: First Index = 112975, Count = 1
Nalyan: First Index = 115761, Count = 1
Dhruv: First Index = 116546, Count = 1
Galesabad: First Index = 117760, Count = 1
Itheg: First Index = 121908, Count = 1
Aaradhya: First Index = 123642, Count = 1
Pooja: First Index = 124395, Count = 1
Khushi: First Index = 125289, Count = 1
Khaziabad: First Index = 126752, Count = 1
Jhanvi: First Index = 136563, Count = 1
Kibara: First Index = 73510, Count = 1
Harsh: First Index = 68667, Count = 1
Reyansh: First Index = 70407, Count = 1
Morena: First Index = 42134, Count = 1
Less Delhi: First Index = 30231, Count = 1
Malyansh: First Index = 20886, Count = 1
Aditya: First Index = 18496, Count = 1
Plata: First Index = 33408, Count = 1
Aishwarya: First Index = 8772, Count = 1
3.0: First Index = 35309, Count = 1
Less than 5 Kalyan: First Index = 36993, Count = 1
Krishna: First Index = 3753, Count = 1
Mira: First Index = 38817, Count = 1
Moreadhyay: First Index = 39217, Count = 1
Ishkarsh: First Index = 42470, Count = 1
Raghavendra: First Index = 22215, Count = 1
Kashk: First Index = 43050, Count = 1
Gurgaon: First Index = 3554, Count = 1
Tolkata: First Index = 53366, Count = 1
Anvi: First Index = 55970, Count = 1
Krinda: First Index = 57185, Count = 1
Ayansh: First Index = 58776, Count = 1
Shrey: First Index = 60210, Count = 1
Ivaan: First Index = 61687, Count = 1
Vaanya: First Index = 63830, Count = 1
Gaurav: First Index = 65042, Count = 1
Unirar: First Index = 138190, Count = 1
Total unique cities: 98

C:\Users\elias\AppData\Local\Temp\ipykernel_15692\1198885951.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  first_occurrence = data.groupby("City").apply(lambda x: x.index[0])

We found population, density, literacy and sex ratio for each major city in our dataset. We then merged this in our data and removed city column. For the minor cities or the wrongly written cities we took the average of the other columns..

# Pre-processing

Dropping the Id column

In [209]:
def dropId(data):

    # Drop the 'id' column
    data = data.drop(columns=["id"])
    return data

Encoding the name column

In [210]:
def name_freq(data):
    # Replace each name with its frequency in the dataset
    data["Name"] = data["Name"].map(data["Name"].value_counts())
    return data

Encoding gender column

In [211]:
def gender_encode(data):
    data["Gender"] = data["Gender"].map({"Female": 0, "Male": 1 })
    return data

Age

In [212]:
def age_integer(data):
    data["Age"] = data["Age"].astype(int)
    return data

City

In [213]:
import pandas as pd

# Load city data (assuming it's already loaded in a DataFrame named df_cities)
city_data_path = "./data/indian_cities_data.csv"
df_cities = pd.read_csv(city_data_path)

def city_one_hot(data):
    # Find the index of the "City" column
    city_index = data.columns.get_loc("City")

    # Merge the data with city information, excluding "Main Language"
    merged_data = data.merge(df_cities.drop(columns=["Main Language"]), on="City", how="left")

    # Calculate the mean values for missing cities
    mean_values = merged_data[["Population", "Density (per km²)", "Literacy Rate (%)", "Sex Ratio"]].mean()

    # Replace NaN values with the mean of the respective column
    merged_data.fillna(mean_values, inplace=True)

    # Drop the original "City" column
    merged_data.drop(columns=["City"], inplace=True)

    # Reorder columns to place new city-related columns where "City" was
    city_columns = ["Population", "Density (per km²)", "Literacy Rate (%)", "Sex Ratio"]
    cols = merged_data.columns.tolist()

    # Move the new city-related columns to the correct index
    for col in reversed(city_columns):
        cols.insert(city_index, cols.pop(cols.index(col)))

    # Reorder the dataframe
    merged_data = merged_data[cols]

    return merged_data

Pre-processing function:

In [214]:
def pre_processing(data):

    data = dropId(data)
    data = name_freq(data)
    data = gender_encode(data)
    data = age_integer(data)
    data = city_one_hot(data)
    return data


data = pre_processing(data)

print(data.head())

   Name  Gender  Age  Population  Density (per km²)  Literacy Rate (%)  \
0  2045       0   49   1618879.0             5200.0              85.77
1   963       1   26   1198491.0             7300.0              79.27
2   730       1   33   1728128.0             2500.0              81.79
3   730       1   22  12442373.0            20482.0              89.73
4   499       0   30   2765348.0             6900.0              82.42

   Sex Ratio Working Professional or Student        Profession  \
0      850.0            Working Professional              Chef
1      887.0            Working Professional           Teacher
2      978.0                         Student               NaN
3      853.0            Working Professional           Teacher
4      857.0            Working Professional  Business Analyst

   Academic Pressure  ...  Study Satisfaction  Job Satisfaction  \
0                NaN  ...                 NaN               2.0
1                NaN  ...                 NaN               3.0
2                5.0  ...                 2.0               NaN
3                NaN  ...                 NaN               1.0
4                NaN  ...                 NaN               1.0

      Sleep Duration  Dietary Habits   Degree  \
0  More than 8 hours         Healthy      BHM
1  Less than 5 hours       Unhealthy      LLB
2          5-6 hours         Healthy  B.Pharm
3  Less than 5 hours        Moderate      BBA
4          5-6 hours       Unhealthy      BBA

  Have you ever had suicidal thoughts ? Work/Study Hours Financial Stress  \
0                                    No              1.0              2.0
1                                   Yes              7.0              3.0
2                                   Yes              3.0              1.0
3                                   Yes             10.0              1.0
4                                   Yes              9.0              4.0

   Family History of Mental Illness  Depression
0                                No           0
1                                No           1
2                                No           1
3                               Yes           1
4                               Yes           0

[5 rows x 22 columns]